// Fonts
$font-title: 'Anton', sans-serif;
$font-body: 'Poppins', sans-serif;
// Color
$color-light: #ECE9DF;
$color-dark: #2A2B2A;
// Spacing
$spacing-section: 6.25rem 0;
// Timing
$transition-normal: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;
