.c-nav {
  background-color: $color-light;
  position: sticky;
  top: 0;
  z-index: 100;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.5rem;
    border-bottom: 1.5px solid $color-dark;
    transition: padding $transition-normal;

    &--small{
      padding: 1rem 0.5rem;
    }
  }
  &__link-logo {
    font-family: $font-title;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: none;
    margin: 0;
    transition: font-size $transition-normal;

    &--small{
      font-size: 1.75rem;
    }
  }
  &__link {
    text-decoration: none;
    font-family: $font-body;
    font-size: 1.125rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    transition: transform $transition-normal, text-shadow $transition-normal;

    &:hover{
      transform: translateY(-2px);
      text-shadow: 2px 2px 1px rgba($color-dark,0.1);
    }

    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      transform: rotate(45deg);
      background-color: $color-dark;
      margin-right: 0.5rem;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }

    &.active::before {
      opacity: 1;
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.75rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 101;
  }

  &__hamburger span {
    display: block;
    height: 0.25rem;
    width: 100%;
    background: $color-dark;
    border-radius: 0.25rem;
    transition: all $transition-normal;
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 15.625rem;
    height: 100vh;
    background: $color-light;
    color: $color-dark;
    transition: right $transition-normal;
    padding: 7.0625rem 2rem;
    z-index: 10;
  }

  &__mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__mobile-menu li {
    margin: 1rem 0;
  }

  &__mobile-menu a {
    text-decoration: none;
    font-size: 1.2rem;
  }

  &__mobile-menu.active {
    right: 0;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-normal;
    z-index: 9;
  }

  &__backdrop.active {
    opacity: 1;
    visibility: visible;
  }

  @include media-breakpoint-down('lg') {
    &__list {
      display: none;
    }
    &__hamburger {
      display: flex;
    }
  }
}

/* Animation */
.c-nav__hamburger.active span:nth-child(1) {
  transform: translateY(0.625rem) rotate(45deg);
}
.c-nav__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.c-nav__hamburger.active span:nth-child(3) {
  transform: translateY(-0.625rem) rotate(-45deg);
}

//Disable scroll on mobile menu
body.no-scroll {
  overflow: hidden;
}
